{% load static %}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">

    <title>{% block title %}Mon Site de Location de Voitures{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
 
    
</head>
<body>
    <!-- Menu de navigation global -->
    <header>
        <nav>
            <ul>
                <li><a href="{% url 'home' %}">Accueil</a></li>
                <li><a href="{% url 'liste_voitures' %}">Voitures</a></li>
                <li><a href="{% url 'about' %}">À propos</a></li>
                <li><a href="{% url 'contact' %}">Contact</a></li>
                {% if user.is_authenticated %}
                    <li><a href="{% url 'dashboard' %}">Dashboard</a></li>
                    <li><a href="{% url 'reservation_list' %}">Réservations</a></li>
                    <li><a href="{% url 'temoin_list' %}">Témoignages</a></li>
                    <li><a href="{% url 'logout' %}">Déconnexion</a></li>
                {% else %}
                    <li><a href="{% url 'login' %}">Connexion</a></li>
                {% endif %}
            </ul>
        </nav>
    </header>

    <!-- Contenu principal de chaque page -->
    <main>
        {% block content %}
        {% endblock %}
    </main>

    <!-- Pied de page global -->
    <footer>
        <p>&copy; 2024 Mon Site. Tous droits réservés.</p>
    </footer>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>
</html>
